<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,inital-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <title>乐餐吧后台</title>

    <link rel="stylesheet" href="<%= staticdir %>/assets/plugins/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="<%= staticdir %>/css/style.css">
    <script src="<%= staticdir %>/assets/plugins/jquery/dist/jquery.min.js"></script>
    <script src="<%= staticdir %>/assets/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="<%= staticdir %>/assets/plugins/layer/dist/layer.js"></script>
    <script src="<%= staticdir %>/assets/plugins/axios/dist/axios.min.js"></script>
    <script src="<%= staticdir %>/js/main.js"></script>

    <!--[if lt IE 9]>
    <script src="/bower_components/respond/dest/respond.min.js"></script>
    <script src="/bower_components/html5shiv/dist/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body style="font-size: 12px">

<div class="container">
    <div class="row" style="margin-top: 5px">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 hidden-sm hidden-xs">

        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div id="container" class="panel panel-default">
                <div class="panel-heading">
                    <div class="h1 text-center">
                        订餐厅——后台管理
                    </div>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="/order/server/users">用户管理</a>
                    </li>
                    <li class="list-group-item">
                        <a href="/order/server/restaurants">餐馆管理</a>
                    </li>
                    <li class="list-group-item">
                        <a href="/order/server/orders">订单管理</a>
                    </li>
                    <li class="list-group-item">

                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 hidden-sm hidden-xs">

        </div>
    </div>
</div>

</body>
</html>